h2{
    margin-left: 3vw;
    margin-top: 3vw;
    font-size: 10vw;
}
p{
    margin-left: 3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.input{
    width: 85%;
    padding: 3vw;
    margin-left: 3vw;
}
.messageInput[placeholder]{
    height: 12vw;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.submit{
    background-color: #E29578;
    padding: 4.5vw;
    border-radius: 3vw;
    margin-top: 5vw;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}